<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="myIndex">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Capsui 微信消息模板</title>
    <!-- Bootstrap Core CSS -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../../css/shop-homepage.css" rel="stylesheet">
    <link href="../../iconfont/iconfont.css" rel="stylesheet">
    <link href="../../css/capsui.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<!--<div ng-include="'resources/html/nav.html'"></div>-->

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-3">
            <div class="panel-group" id="accordion2">
                <!--<div class="panel-heading">-->
                <!--&lt;!&ndash;&lt;!&ndash;<strong style="font-size: 30px;">论坛分类</strong>&ndash;&gt;&ndash;&gt;-->
                <!--</div>-->
                <div class="panel panel-default" ng-repeat="menu in menus">
                    <div class="panel-heading" data-toggle="collapse"
                         data-parent="#accordion2" href="#{{menu.first_class}}">
                        <a class="accordion-toggle">{{menu.first_class}}</a>
                    </div>
                    <div id="{{menu.first_class}}" class="panel-collapse collapse"
                         style="height: 0px;">
                        <div class="panel-body">
                            <ul class="nav nav-pills nav-stacked" ng-repeat="sub in menu.second_classes">
                                <li><a href="#" data-url="{{sub.location}}">{{sub.name}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-9 col-lg-9 col-sm-9" id="content-right">
            <table class="table table-hover">
                <colgroup>
                    <col width="15%"/>
                    <col width="77%"/>
                    <col width="8%"/>
                </colgroup>

                <thead>
                <tr>
                    <th>模板标题</th>
                    <th>模板内容</th>
                    <th>more</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="content in contents">
                    <td>{{content.title}}</td>
                    <td>{{content.content}}</td>
                    <td>
                        <i class="icon iconfont go_more">&#xe607;</i>
                        <i class="icon iconfont go_more">&#xe625;</i>
                    </td>
                </tr>
                </tbody>
            </table>

            <hr>

            <!-- Pagination -->
            <div class="row text-center">
                <div class="col-lg-12">
                    <ul class="pagination">
                        <li>
                            <a href="#">&laquo;</a>
                        </li>
                        <li class="active">
                            <a href="#">1</a>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">4</a>
                        </li>
                        <li>
                            <a href="#">5</a>
                        </li>
                        <li>
                            <a href="#">&raquo;</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.row -->
            <hr>
        </div>  <!--col-sm9-->
    </div>
</div>
</div>

<!-- jQuery -->
<script src="../../js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/angular.min.js"></script>
<script src="../../js/angular-cookies.min.js"></script>
<script src="../../js/capsui/app.js"></script>
</body>

</html>
